.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Digital-7 Mono', sans-serif;
  perspective: 1000px;
  perspective-origin: 145% -90%;
  
}

.display-center{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.controller-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-secondary);
}