.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Digital-7 Mono", sans-serif;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 40vw;
  height: 20vh;
  gap: 10px;
  color: var(--color-primary);
  background-color: var(--color-uber-primary);
  border-radius: var(--border-radius);
  border: 2px solid var(--color-secondary);
}

.display-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-secondary);
}

.break-wrapper {
  height: 10vh;
  width: 10vw;
}

.session-wrapper {
  height: 15vh;
  width: 15vw;
}

.length-wrapper {
  height: 10vh;
  width: 10vw;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-primary);
  font-size: 18px;    
}