body {
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@import url('https://fonts.cdnfonts.com/css/digital-7-mono');

* {
  font-family: "Robot", sans-serif;
}
